asn1crypto==1.4.0
boto==2.49.0
boto3==1.17.46
botocore==1.20.109
bz2file==0.98
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
enum34==1.1.6
funcsigs==1.0.2
futures==3.3.0
gensim==3.8.0
idna==2.10
ipaddress==1.0.23
jmespath==0.10.0
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
numpy==1.16.6
protobuf==3.1.0
pycparser==2.20
pyOpenSSL==20.0.1
PySocks==1.7.1
python-dateutil==2.8.2
requests==2.25.1
s3transfer==0.3.0
scipy==1.2.1
six==1.16.0
smart-open==1.9.0
tensorflow-gpu==0.12.0
urllib3==1.25.7
